---
layout: default
---
<article id="home" class="panel intro">
<banner>
        <header>
        <h1>Shashank Dholakia</h1>
      <p>Astronomer</p>
      <p style="padding:0"><a href="https://github.com/shashankdholakia"><i class="fab fa-github" style='color:black'></i></a>
        <a href="https://twitter.com/astroshashank"><i class="fab fa-twitter" style='color:black'></i></a>
        <a href="https://scholar.google.com/citations?user=UTB-1S4AAAAJ&hl=en"><i class="fas fa-graduation-cap" style='color:black'></i></a>
    </header>
    <a href="#work" class="jumplink pic">
      <img src="images/shashank.png" alt="" />
    </a>
  </banner>
<hr style="margin-left:5% !important; margin-right:5% !important; margin-top: 1em; margin-bottom: 0 !important; padding:0 !important;" />
<section>


<div class="row">
{% assign portfolio = site.portfolio | sort: 'weight' | reverse %}
  {% for item in portfolio %}
  <div class="col-4 col-6-medium col-12-small">
      <div class="image fit">
        <img src="{{ item.image }}" alt="">
        <a href="{{ site.url }}{{ item.url }}">
            <h2>{{ item.title }}</h2>
            <h3>{{ item.subtitle }}</h3>
        </a>
      </div>
  </div>
  {% endfor %}
</div>
</section>
</article>
